# pandas for organizing data in dataframes
pandas >= 2.1.2
# scipy for example analysis finding peaks in XRD data
scipy >= 1.11.4
# Python wrapper around the SensorPush Bluetooth API
sensorpush-bleak >= 1.0.7
# OpenMSIToolbox for ControlledProcess
openmsitoolbox >= 1.2.0
# OpenMSIStream for streaming data
openmsistream >= 1.7.0
# ipykernel to run Jupyter notebooks
ipykernel >= 6.27.1
